<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mppaymentstocarriers</name>
	<displayName><![CDATA[Payments to carriers]]></displayName>
	<version><![CDATA[1.1.1]]></version>
	<description><![CDATA[Link payment methods to carriers]]></description>
	<author><![CDATA[Mijn Presta]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
</module>
